td.order__history__option {
    display: inline-flex;
}
.user__mobile__menu__dashboard {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    height: calc(100vh - 0px);
    top: 0;
    left: -100%;
    visibility: hidden;
    opacity: 0;
    transition: 200ms linear;
    z-index: 999;
}
.user__mobile__menu__dashboard .user__dasboard__sidebar {
    position: relative;
    z-index: 9999;
    width: 320px;
    max-width: 100%;
    background: #fff;
    overflow-y: auto;
    padding: 0;
}
.activeleftsidebar .user__mobile__menu__dashboard {
    visibility: visible;
    opacity: 1;
    left: 0;
}
.user__mobile__menu__dashboard .user__dasboard__profile {
    display: flex;
    align-items: center;
    gap: 15px;
    background: #44bc9d ;
    padding: 10px 20px;
    width: 100%;
}
.user__mobile__menu__dashboard .user__dasboard__profile>div {
    flex: 1;
}
.user__mobile__menu__dashboard .user__dasboard__sidebar .user__dasboard__photo img {
    width: 60px;
    height: 60px;
}
.user__mobile__menu__dashboard .user__dasboard__profile__info {
    gap: 4px;
}
.user__mobile__menu__dashboard .user__dasboard__menu {
    padding:20px;
}
.user__mobile__menu__dashboard .user__dasboard__profile__crose {
   display: grid;
   justify-content: end;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

.mobile__toggle__menu__icon {
    position: relative;
}
.mobile__toggle__menu__icon .user__dashboard__mobile__icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
    color: #fff;
    font-size: 20px;
}


@media screen and (max-width: 767px) {
    .user__dasboard__section__left {
        display: none;
    }
    .user__dashboard__mobile__icon {
        display: block;
    }

}
@media screen and (max-width: 470px) {
    .mobile__toggle__menu__icon .breadcrumb {
        display: block !important;
    }

}