input.form-control::-webkit-input-placeholder {
    color: rgba(139, 145, 152, 1) !important;
 }
 input.form-control:-moz-placeholder {
    color: rgba(139, 145, 152, 1) !important;
 }
 input.form-control:-moz-placeholder  {
    color: rgba(139, 145, 152, 1) !important;
 }

 textarea.form-control::-webkit-input-placeholder {
    color: rgba(139, 145, 152, 1) !important;
 }
 textarea.form-control:-moz-placeholder {
    color: rgba(139, 145, 152, 1) !important;
 }
 textarea.form-control:-moz-placeholder {
    color: rgba(139, 145, 152, 1) !important;
 }
 .order-button-show991 {
    display: none;
 }
 @media (max-width:991px) {
    .order-button-hide991 {
        display: none;
    }
    .order-button-show991 {
        display: block;
     }
}

.module-products-169 .product-grid .product-thumb .extra-group .btn.btn:hover {
   font-family: 'Hind Siliguri' !important;
   font-weight: 700 !important;
   font-size: 20px !important;
   /* color: rgb(65,65,66) !important; */
   color: #fff !important;
   font-style: normal !important;
   text-align: center !important;
   text-decoration: none !important;
   background-image: radial-gradient(circle farthest-corner at -1% 57.5%, rgba(19, 170, 82, 1) 0%, rgba(0, 102, 43, 1) 90%);
   !important
 }

 .product-info .button-group-page .btn-extra.btn:hover {
   font-family: 'Hind Siliguri' !important;
   font-weight: 700 !important;
   font-size: 20px !important;
   color: rgba(255, 255, 255, 1) !important;
   font-style: normal !important;
   text-align: center !important;
   /* text-transform: uppercase !important; */
   text-decoration: none !important;
   background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(58,188,155) 0%, rgba(58,188,155) 90%) !important;
 }