.extra-group.nh__order__confirm{
    padding: 0;
}
.extra-group.nh__order__confirm .nh__order__confirm__btn {
    /* background-image: linear-gradient(90deg, rgba(0,0,0,0) 35%, rgba(0,212,255,1) 100%); */
    background: transparent !important;
    gap: 6px;
    border-radius: 3px;
}

.extra-group.nh__order__confirm .nh__order__confirm__btn a {
    background: transparent !important;
    min-width: -webkit-max-content !important;
    min-width: -moz-max-content !important;
    min-width: max-content !important;
    color: #fff !important;
    transition: all 200 ms linear;
    background-image: -o-radial-gradient(-1% 57.5%, circle farthest-corner, rgba(58,188,155) 0%, rgba(58,188,155) 90%) !important;
    background-image: radial-gradient(circle farthest-corner at -1% 57.5%, rgba(58,188,155) 0%, rgba(58,188,155) 90%) !important;
}

.extra-group.nh__order__confirm .nh__order__confirm__btn a:hover {
    color: #000 !important;
    background-image: -o-radial-gradient(-1% 57.5%, circle farthest-corner, rgba(58,188,155) 0%, rgba(58,188,155) 90%) !important;
    background-image: radial-gradient(circle farthest-corner at -1% 57.5%, rgba(58,188,155) 0%, rgba(58,188,155) 90%) !important;
}

