
/* .extra-group.nh__order__confirm .nh__order__confirm__btn span {
    color: #FFF !important;
    background-image: -o-radial-gradient(-1% 57.5%, circle farthest-corner, rgba(58,188,155) 0%, rgba(58,188,155) 90%) !important;
    background-image: radial-gradient(circle farthest-corner at -1% 57.5%, rgba(58,188,155) 0%, rgba(58,188,155) 90%) !important;
} */







