/* desktop search bar */
.header-search {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(58, 188, 155);
    box-shadow: none;
}

.desktop .header-search:hover {
    border-color: rgba(58, 188, 155)
}


.header-search .search-button {
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(58, 188, 155) 0%, rgba(58, 188, 155) 90%) !important;
    min-width: 45px
}

.header-search .search-button:active {
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(58, 188, 155) 0%, rgba(58, 188, 155) 90%)
}

.desktop .header-search .search-button:hover {
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(58, 188, 155) 0%, rgba(58, 188, 155) 90%)
}

#cart>a>i {
    background: rgba(58, 188, 155);
    border-radius: 3px;
    width: 40px;
    height: 40px
}

/* search and cart icon end */

/* product title header home page */
.module-products-169 .title.module-title {
    font-family: 'Hind Siliguri';
    font-weight: 700;
    font-size: 26px;
    color: rgba(255, 255, 255, 1);
    font-style: normal;
    text-align: center;
    text-transform: none;
    text-decoration: none;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(58, 188, 155) 0%, rgba(76, 234, 188, 1) 90%);
    ;
    border-radius: 3px;
    padding: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
    white-space: normal;
    overflow: visible;
    text-overflow: initial;
    text-align: center
}

/* product title header home page  end*/

/* mobile header start */
.mobile-header-active #cart>a>i::before {
    content: '\f290' !important;
    font-family: icomoon !important;
    font-size: 32px;
    color: rgba(58, 188, 155)
}
.mobile-header-active .mobile-header .mobile-top-bar {
    display: flex;
    height: 28px;
    padding-right: 7px;
    padding-left: 7px;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(58, 188, 155) 0%, rgba(58, 188, 155) 90%);
    ;
    box-shadow: none;
    justify-content: center
}
.mobile-header-active .header-search .search-button {
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(58, 188, 155) 0%, rgba(58, 188, 155) 90%);
    ;
    min-width: 45px
}
.extra-group.nh__order__confirm .nh__order__confirm__btn i {
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    padding: 10px 12px;
    background-color: rgb(241,96,39);
    border-radius: 3px;
}
.btn:hover {
    font-family: 'Hind Siliguri' !important;
    font-weight: 400 !important;
    font-size: 18px !important;
    color: rgba(255, 255, 255, 1) !important
}
textarea.form-control.nh__customer__address {
    height: 60px;
}
.nh__order__confirm .nh__order__confirm__btn :is(a:active, a:hover) {
    background: transparent !important;
}
.nh__footer__address {
    display: flex;
    align-items: center;
    gap: 15px;
}
.nh__footer__address i {
    font-size: 30px;
    color: #414142;
}
.nh__footer__address span {
    color: #414142;
    font-size: 15px;
}
.nh__footer__copyright {
    display: flex;
    justify-content: center;
    padding: 30px 0;
    padding-bottom: 0;
}
.nh__footer__copyright span {
    color: #414142;
    font-size: 15px;
    letter-spacing: 1px;
}
.nh__top__header {
    width: 100%;
}
.nh__top__header .j-menu {
    justify-content: space-between;
}
.nh__logout_header.j-menu {
    justify-content: flex-end;
}
.nh__logout_header span {
    display: flex;
    align-items: center;
}
.nh__logout_header .menu-item:hover {
    color: #fff !important;
}
.nh__logout_header .fa-sign-out {
    font-size: 15px;
    font-weight: 700;
    padding-top: 4px;
}
.module-products-169 .title.module-title::after,
.module-products-169 .title.module-title.page-title>span::after {
    width: 8%;
    height: 2px;
    background: rgba(255, 255, 255, 1);
}
.login-box .title {
    font-family: 'Hind Siliguri';
    font-weight: 700;
    font-size: 26px;
    color: rgba(255, 255, 255, 1);
    font-style: normal;
    text-align: center;
    text-transform: none;
    text-decoration: none;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(58, 188, 155) 0%, rgba(58, 188, 155) 90%) !important;
    ;
    border-radius: 3px;
    padding: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
    white-space: normal;
    overflow: visible;
    text-overflow: initial;
    text-align: center
}
legend {
    font-family: 'Hind Siliguri';
    font-weight: 700;
    font-size: 26px;
    color: rgba(255, 255, 255, 1);
    font-style: normal;
    text-align: center;
    text-transform: none;
    text-decoration: none;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(58, 188, 155) 0%, rgba(58, 188, 155) 90%);
    ;
    border-radius: 3px;
    padding: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
    white-space: normal;
    overflow: visible;
    text-overflow: initial;
    text-align: center;
    font-family: 'Hind Siliguri';
    font-weight: 700;
    font-size: 26px;
    color: rgba(255, 255, 255, 1);
    font-style: normal;
    text-align: center;
    text-transform: none;
    text-decoration: none;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(58, 188, 155) 0%, rgba(58, 188, 155) 90%) !important;
    ;
    border-radius: 3px;
    padding: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
    white-space: normal;
    overflow: visible;
    text-overflow: initial;
    text-align: center
}
div#content {
    padding-bottom: 50px;
}
@media (max-width:1199px) {
    .module-products-169 .product-layout:not(.swiper-slide) {
        padding: 5px;
        width: calc(100% / 4 - 0.01px);
    }

    .nh__order__confirm__btn span {
        font-size: 16px;
    }

    .extra-group.nh__order__confirm .nh__order__confirm__btn i {
        padding: 8px 12px;
    }

    .custom--cart-page {
        flex-direction: column;
    }
}

#content-bottom-last .nh__order__confirm__btn span,
#content-bottom .module-products-253 .product-grid .product-thumb .extra-group .btn.btn,
.module-products-253 .product-grid .product-thumb .extra-group .btn.btn:visited {
    font-size: 14px;
}
#content-bottom-last .nh__cart__icon i,
#content-bottom .extra-group.nh__order__confirm .nh__order__confirm__btn i {
    padding: 7px 12px;
}
.hotline_number {
    padding-top: 15px;
}
.hotline_number strong {
    font-size: 20px;
    font-weight: 400;
    color: #000;
    font-family: 'Hind Siliguri';
}
.module-products-253 .product-grid .product-thumb .extra-group .btn.btn:hover {
    font-size: 14px !important;
}
@media (max-width:767px) {
    .module-products-169 .product-layout:not(.swiper-slide) {
        padding: 5px;
        width: calc(100% / 2 - 0.01px);
    }

    .nh__footer__address {
        justify-content: center;
        align-items: start;
    }

    .nh__footer__copyright span {
        text-align: center;
    }

    footer .grid-col {
        padding-bottom: 15px;
    }

    footer .grid-col:last-child {
        padding-bottom: 0;
    }

    .product-info .product-left {
        width: 100%
    }

    .product-info .product-right {
        width: 100%
    }
}

@media (max-width: 470px) {
    .mobile-header-active .header-search {
        border-width: 2px;
        border-style: solid;
        border-color: rgba(58, 188, 155)
    }

    .top-menu-item .fa-sign-out {
        font-size: 14px;
    }

    .mobile-header-active .header-search input {
        font-size: 10px
    }

    .nh__order__confirm__btn span {
        font-size: 12px;
    }

    .extra-group.nh__order__confirm .nh__order__confirm__btn {
        gap: 5px;
    }

    .extra-group.nh__order__confirm .nh__order__confirm__btn i {
        padding: 6px 8px;
    }

    #content-bottom-last .nh__order__confirm__btn span,
    #content-bottom .module-products-253 .product-grid .product-thumb .extra-group .btn:first-child .btn-text {
        padding: 3px 8px;
    }

    .nh__order__confirm__btn span {
        font-size: 13px;
    }

    #content-bottom-last .nh__cart__icon i,
    #content-bottom .extra-group.nh__order__confirm .nh__order__confirm__btn i {
        padding: 7px 6px;
    }


    #content-bottom-last .module-products-253 .product-grid .product-thumb .extra-group .btn:first-child .btn-text {
        display: inline-block;
        padding: 1.5px 10px;
    }

    .ph__cart__group .main__add__to__cart {
        padding-top: 8px;
        padding-bottom: 8px;
    }
}

/* mobile header end */

/* custom mobile add to cart */
.custom__mobile__icon__position {
    position: relative;

}

.mobile__cart__icon__wrapper {
    position: absolute;
    height: calc(100vh - 43px);
    top: 43px;
    right: 15px;
    z-index: 99999999;
}

.mobile__cart__icon__wrapper .fa-shopping-cart {
    color: white;
    font-size: 25px;
}

.mobile__cart__icon_route {
    width: 40px;
    height: 40px;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(58, 188, 155) 0%, rgba(58, 188, 155) 90%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    position: relative;
}

#mobile__cart__icon_count {
    position: absolute;
    background: rgba(242,105,51);
    width: 18px;
    height: 18px;
    border-radius: 50%;
    color: #fff;
    top: -5px;
    right: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    font-size: 10px;
}
.checkout__border__color .checkout__br__color td,
.nh__cart__table tr.cart__tr_bg_color td {
   border-bottom: 1px solid rgb(58,188,155);
   border-right: 1px solid rgb(58,188,155);
}
.checkout__border__color .checkout__br__color td:last-child {
border-right: 0;
}
.nh__cart__table tr.cart__tr_bg_color td:last-child {
    border-right: 0;
 }
.checkout__border__color,
.cart-table.custom--cart-page .nh__cart__table {
    margin-bottom: 0 !important;
}

/* foorter section */
.footer__widget {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.footer__widget__item {
    flex-shrink: 1;
    flex: 1;
}
.widget__link__icon{
    display: flex;
    justify-content: flex-end;
}
.footer__widget__item a {
   background-color: #eb0000;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   text-align: center;
   color: #fff;
}
.footer__widget__item a:first-child{
    background-color: #00A2FF;
}
.footer__social__link {
    display: flex;
    gap: 10px;
}
.footer__social__link a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__social__link a i{
    font-weight: 700;
    font-size: 22px;;
}
.footer__social__link a:hover{
    color: #fff;
}
.footer__copyright__area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 15px;
}

@media (max-width:767px) {
    .footer__widget {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .nh__footer__address span {
        text-align: center;
    }
    .footer__copyright__area {
        flex-direction: column;
    }
    .nh__footer__copyright:last-child {
        padding-top: 5px;
    }
}

/* product details page css */
.block-content.ph__long_text {
    padding-left: 15px;
    padding-right: 15px;
}
.login-box .title::after, .login-box .title.page-title>span::after {
    width: 14%;
    height: 2px;
    background: #fff;
}

form.form-horizontal.login-form {
    width: 630px;
    margin: 0 auto;
    max-width: 100%;
    padding: 0 15px 15px 15px;
}
.login__text,
.pull-right.login__btn{
    max-width: 450px;
    margin: 0 auto;
}
.login__text{
    text-align: center;
    margin-top: -10px;
}
div#content {
    padding-bottom: 55px;
}
.form-horizontal.login-form{
    padding-top: 14px !important;
}
.register__form__top{
    width: 630px;
    margin: 0 auto;
    max-width: 100%;
    padding: 20px 15px 20px 15px;
}
.register__btn__area{
    max-width: 600px;
    margin: 0 auto !important;
}
.pull-right.register__btn{
    max-width: 450px !important;
    margin: 0 auto;
}
.pull-right.register__btn .btn.btn-primary {
    margin-top: 15px;
}


.product-thumb .nh__order__confirm .nh__order__confirm__btn a.btn.btn-extra {
    font-weight: 400 !important;
    color: #000 !important;
    /* background-image: -o-radial-gradient(-1% 57.5%, circle farthest-corner, rgba(241,96,39,1) 0%, rgba(241,96,39,1) 90%) !important;
    background-image: radial-gradient(circle farthest-corner at -1% 57.5%, rgba(241,96,39,1) 0%, rgba(241,96,39,1) 90%) !important; */
}
.product-thumb .nh__order__confirm .nh__order__confirm__btn a.btn.btn-extra:hover {
    color: #000 !important;
}
.module-products-169 .product-grid .product-thumb .extra-group .btn.btn:hover {
    color: #000 !important;
    font-weight: 400 !important;
}
.module-products-169 .product-grid .product-thumb .price {
    color: #44BC9D;
}
.module-products-169 .product-grid .product-thumb .price-old {
    color: rgba(241,96,39,1);
}
.module-products-169 .product-grid .product-thumb .name a {
    font-weight: 400;
    font-size: 16px;
    color:#000 ;
    text-transform: capitalize;
}
.product-thumb .price>div {
    gap: 5px;
}
.ph__price__group_item strong {
    font-weight: 400 ;
    color: #44BC9D;
}
.ph__price__group_item span {
    font-weight: 400;
}
.ph__price__group_item.product__sku strong {
    color: #000;
}
.ph__price__group_item .price-old {
    color: rgb(241,96,39);
    padding-left: 8px;
}
.ph__cart__qt__group a.nh__product__detail {
    color: #000 !important;
    font-weight: 400 !important;
}
.ph__cart__qt__group a.nh__product__detail.btn.btn-extra :hover {
    color: #000 !important;
    font-weight: 400 !important;
}
.product-info .button-group-page .btn-extra.btn:hover {
    color: #000 !important;
    font-weight: 400 !important;
}
.wishlist-compare .btn.main__add__to__cart {
    background-color: rgb(241,96,39);
    font-weight: 400;
    text-transform: capitalize;
}
.wishlist-compare .btn.main__add__to__cart:hover {
    background-color: rgb(241,96,39) !important;
    font-weight: 400 !important;
}
.nh__product__long__text {
    text-align: justify;
    font-weight: 400;
    font-size: 15px;
    color: #000;
    font-family: 'Hind Siliguri';
}

.block-content.ph__long_text p {
    font-weight: 400;
    font-size: 15px;
    color: #000;
    font-family: 'Hind Siliguri';
    line-height: 22px;
}
.recent__view__product__area .active a,
.related__product__title a {
    color: #000;
}
.recent__view__product__area .name a,
.related__product__content .name a {
    font-weight: 400 !important;
    color: #000;
    text-transform: capitalize !important;
}
.recent__view__product__area .price .price-new,
.related__product__content .price .price-new {
    color: #44BC9D;
}
.recent__view__product__area .price .price-old,
.related__product__content .price .price-old {
    color: rgb(241,96,39) !important;
}
.module-products-253 .product-grid .product-thumb .extra-group .btn.btn:hover{
    color: rgba(0, 0, 0,1) !important;
    font-weight: 400 !important;
}

.btn.btn-remove.cart_item__remove {
    min-width: 40px;
    background-image: radial-gradient(circle farthest-corner at 50.4% 50.5%, rgba(242,105,51) 0%, rgba(242,105,51) 90%);
}
.nh__product__qty__area .nh__product__qty__inner .qty-btn-minus,
.nh__product__qty__area .nh__product__qty__inner .qty-btn-plus {
    padding: 0;
    height: 16px;
    line-height: 16px;
    width: 27px;
}
.nh__product__qty__area .nh__product__qty__inner .btn-danger {
    background-color: transparent;
border: 0;
}
.nh__product__qty__area .nh__product__qty__inner {
    border: 0;

}
.nh__product__qty.nh--product--qty {
    background-image: radial-gradient(circle farthest-corner at 50.4% 50.5%, rgba(242,105,51) 0%, rgba(242,105,51) 90%);
    /* border-top-right-radius: 3px;
    border-bottom-right-radius: 3px; */
}
.nh__product__qty .input-qty.input-cornered {
    padding: 10px 10px;
    border: 0;
}
.nh__product__qty__area {
    border: 1px solid rgba(105, 105, 115, 1);
    border-radius: 3px;
}
.nh__product__qty.nh--product--qty .nh__product__qty__inner {
    border-left: 1px solid rgba(105, 105, 115, 1);
    border-bottom: 1px solid rgba(105, 105, 115, 1);
}
.nh__product__qty.nh--product--qty .nh__product__qty__inner:last-child {
    border-bottom: 0;
}
.checkout__border__color thead tr td {
    color: #414142;
}
.desktop .btn:hover
 {
    box-shadow: none !important;
 }
 .btn:focus {
    background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(58,188,155) 0%, rgba(58,188,155) 90% ) !important;
 }
 .btn,
 .btn:visited {
    font-weight: 400 !important;
 }
